* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100svh;
  background-color: #f4f4f4;
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    padding: 20px;
  }

  nav {
    background-color: #333;
    color: white;
    width: 100%;
    font-size: 1.3rem;

    a {
      color: #fff;
      padding: 10px;
      text-decoration: none;
      display: inline-block;
      position: relative; 
      border-radius: 5px;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: #f4f4f4;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }

      &:hover::after {
        width: calc(100% - 20px); 
      }
    }

    .current {
      background-color: #f4f4f4;
      color: #333;

      &:hover::after {
        background-color: #333;
        width: calc(100% - 20px);
      }
    }
  }
}
.container {
  margin-bottom: 5vh;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: baseline;
}
.product-cart {
  width: 300px;
  background-color: #fff;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  margin: 30px;
  box-shadow: 0 0 10px #ccc;
}
img {
  width: 100%;
  border-radius: 5px;
}
.btn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 1.1rem;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.btn:hover {
  background-color: #555;
}
#products {
  display: flex;
  flex-direction: row;
}

#gallary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-bottom: 5vh;
  img {
    width: calc(33.33% - 10px);
    max-width: 300px;
    border: 2px solid #333;
  }
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;

  input {
    padding: 5px;
  }
  textarea {
    min-height: 200px;
  }
}

footer {
  height: 5vh;
  position: absolute;
  bottom: 0;
  padding: 30px;
  background-color: #333;
  color: #fff;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #fff;
  }
}

.hidden {
  display: none !important;
}
.active {
  display: flex !important;
}

#alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #69be61;
  box-shadow: 0 0 10px #ccc;
  display: none;
}
